.footer-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  background-color: #97D9B5;
  color: #378C5E;
}

.footer-container a {
  text-decoration: none;
  color: #23593C;
}

.footer-container a:hover {
  color: white;
}

.icon-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon-list li {
  display: inline;
}

.resize {
  width: 25px;
  height: auto;
  padding-top: 1.2em;
  margin-right: .2em;
  margin-bottom: -.3em;
  margin-top: .2em;
  margin-left: .3em;
}

.copyright {
  margin-right: 1em;
}
