
.nav-container {
  display: flex;
  list-style-type: none;
  background-color: #97D9B5;
  margin-bottom: 1em;
  justify-content: flex-end;
  padding: 1em;
  margin-top: 0;
}

li {
	padding-right: 2em;
}


a {
	text-decoration: none;
	font-family: 'Rubik', sans-serif;
	color: #000;
	padding 1em;
}
a:hover {
	color: #fff;
}

.indexLink {
	flex: 9;
}

#compName {
	font-family: 'Bungee', cursive;
	font-size: 2em;
}