body {
	background-color: #6F9F85;
}

h3 {
	text-align: center;
	text-decoration: underline;
	font-family: 'Bungee', cursive;
	font-size: 2em;
}


/******Product Cards**********/

.resize { 
    max-width: 8em;
    min-width: 8em;
    max-height: 8em;
    min-height: 8em;
    display: inline-block;
    border: 4px dotted black;
    margin: 0 2em 0 5em;
}

#cards {
	width: auto;
	display: inline-block;
    clear: both;
    border: 3px solid #23593C;
    border-radius: 10%;
    margin: 1.5em 2.5em 1.5em 2.6em;
    background-color: #378C5E;
    font-family: 'Rubik', sans-serif;
    box-shadow: 5px 5px 3px;

}

#cards:hover {
	box-shadow: -5px -5px 3px;
}

#productCards {
	width: 100%;
/*	display: table;
*/}

p#money {
	text-align: center;
}

h4 {
	text-align: center;
}
