

.resize { 
    max-width: 8em;
    min-width: 8em;
    max-height: 8em;
    min-height: 8em;
    display: inline-block;
    border: 1em solid black;
    margin: ;
}

#productCards {
	width: auto;
	display: inline-block;
    clear: both;
}
